.columnStyle {
  max-width: 225px !important;
  margin-left: 5px;
  margin-right: 5px;
}

body {
  background-color: #eee;
}
.container {
  width: 900px;
}

.fa-heart-o:before {
  content: "\f08a";
  font-size: 22px;
}

.but-btn{
    border: none;
    background-color: transparent;
}

.card {
  margin-top: 10px;

  background-color: #fff;
  border: none;
  border-radius: 10px;
  width: 220px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* height: 400px; */
  /* padding-bottom: 50px; */
}

.image-container {
  position: relative;
  /* height: 100px; */
}

.image-container > img{
  max-width: 100%;
  height: 337px;
}

/* .img-fluid {
  max-width: 100%;
  height: 337px;
  
} */
.thumbnail-image {
  border-radius: 10px !important;
}

.discount {
  background-color: red;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  border-radius: 6px;
  color: #fff;
}

.wishlist {
  height: 25px;
  width: 25px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first {
  position: absolute;
  width: 100%;
  padding: 9px;
}

.dress-name {
  font-size: 13px;
  font-weight: bold;
  width: 75%;
}

.new-price {
  font-size: 13px;
  font-weight: bold;
  color: red;
}
.old-price {
  font-size: 8px;
  font-weight: bold;
  color: grey;
}

.prod-desc {
  font-size: 14px;

  font-weight: bold;
  color: grey;
}

.prod-stock {
  font-size: 12px;

  font-weight: bold;
  color: grey;
}

.btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 3px;
}

.buy {
  font-size: 15px;
  color: purple;
  font-weight: 700;
}

.voutchers {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  width: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.voutcher-divider {
  display: flex;
}
.voutcher-left {
  width: 60%;
}
.voutcher-name {
  color: grey;
  font-size: 9px;
  font-weight: 500;
}
.voutcher-code {
  color: red;
  font-size: 11px;
  font-weight: bold;
}
.voutcher-right {
  width: 40%;
  background-color: purple;
  color: #fff;
}

.discount-percent {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: 5px;
}
.off {
  font-size: 14px;
  position: relative;
  bottom: 5px;
}


